body {
  background: #212121;
  color: white;
}
#versions {
  position: absolute;
  left: 3px;
  bottom: 3px;
  z-index: 9999;
}
/**
Layouts
 */
#projects-dropdown {
  z-index: 9999;
}
.brand-logo {
  margin-top: 7px;
}
.dropdown-content {
  background-color: #212121;
}
.dropdown-content li a {
  color: white;
}
tr:hover {
  background-color: #4c4c4c !important;
}
tr {
  height: 50px !important;
}
#console {
  padding-left: 10px;
  height: 65%;
  overflow-y: scroll;
}
