html {
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeSpeed;
  font-size: 14px !important;
}
body {
  background: #212121 !important;
  color: white !important;
}
.modal-content {
  background: #212121 !important;
  color: white;
}
.modal-footer {
  background: #313131 !important;
  color: white;
}
#versions {
  position: absolute;
  left: 3px;
  bottom: 3px;
  z-index: 9999;
}
/**
Layouts
 */
#projects-dropdown {
  z-index: 9999;
}
.brand-logo {
  margin-top: 7px;
}
.dropdown-content {
  background-color: #212121;
}
.dropdown-content li a {
  color: white;
}
.dropdown-button {
  font-size: 14px !important;
}
#project-name {
  padding-right: 85px;
  margin-top: 0;
}
tr:hover {
  background-color: #4c4c4c !important;
}
tr {
  height: 50px !important;
}
#sTree2 li {
  background-color: #ddf;
  padding-left: 50px;
}
#list-parent {
  overflow-y: scroll !important;
  height: 100%;
}
#console {
  padding-left: 10px;
  height: 65%;
  overflow-y: scroll;
}
.newProject-header {
  text-align: center;
}
.modal .mod80 {
  height: 80%;
  top: auto !important;
}
.modal-background-box {
  background-color: #313131;
  padding-top: 10px !important;
  border-radius: 2px !important;
}
.collection {
  overflow-y: scroll;
  max-height: 250px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  -webkit-border-radius: 100px;
}
