.ui.menu {
  background-color: #222;
  box-shadow: none;
}
.ui.dropdown.link.item,
.ui.menu .active.item {
  color: #fff;
}
.ui.dropdown.link.item:active,
.ui.menu .active.item:active {
  color: grey;
}
.ui.dropdown.link.item:hover,
.ui.menu .active.item:hover {
  color: grey;
}
.menu.transition {
  background-color: #222 !important;
  box-shadow: #000000 1px 1px 10px 0px !important;
}
.ui.menu .ui.dropdown .menu > .item {
  color: #fff !important;
}
.ui.menu .ui.dropdown .menu > .item:hover {
  color: #e5e5e5 !important;
}
