html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
}
*, *:before, *:after {
    margin: inherit;
    padding: inherit;
    box-sizing: inherit;
}

canvas {
    border: 1px solid #666;
    border-radius: 7px;
    margin: auto;
    display: table;
}
