<!-- CODE EDITOR -->
<!--
<div id="container" style="width:100%;height:100%"></div>

<script>
	// Monaco uses a custom amd loader that over-rides node's require.
	// Keep a reference to node's require so we can restore it after executing the amd loader file.
	var nodeRequire = global.require;
</script>
<script src="node_modules/monaco-editor/min/vs/loader.js"></script>
<script>
	// Save Monaco's amd require and restore Node's require
	var amdRequire = global.require;
	global.require = nodeRequire;
</script>

<script>
	// require node modules before loader.js comes in
	var path = require('path');
	function uriFromPath(_path) {
		var pathName = path.resolve(_path).replace(/\\/g, '/');
		if (pathName.length > 0 && pathName.charAt(0) !== '/') {
			pathName = '/' + pathName;
		}
		return encodeURI('file://' + pathName);
	}
	amdRequire.config({
		baseUrl: uriFromPath(path.join(__dirname, 'node_modules/monaco-editor/min'))
	});
	// workaround monaco-css not understanding the environment
	self.module = undefined;
	// workaround monaco-typescript not understanding the environment
	self.process.browser = true;
	amdRequire(['vs/editor/editor.main'], function() {
		var editor = monaco.editor.create(document.getElementById('container'), {
			value: [
				'//You can start your code here:',
                '',
				'function x() {',
				'\tconsole.log("Hello world!");',
				'}'
			].join('\n'),
			language: 'javascript',
			roundedSelection: true,
			scrollBeyondLastLine: true,
			theme: "vs-dark",
		});
	});
</script>
-->


<link rel="stylesheet" href="style/Editor.css">
<link rel="stylesheet" href="lib/minimap.min.css">

<script src="lib/minimap.min.js"></script>

<!-- http://camohub.github.io/jquery-sortable-lists/ -->
<div id="editor">

    <div id="list-parent">
        <ul class="sTree2 listsClass" id="sTree2">
            <li class="sortableListsOpen" id="item_b" data-module="b"
                style="width: auto; position: relative; top: 0; left: 0; visibility: visible;">
                <div><span class="sortableListsOpener"
                           style="float: left; display: inline-block; background-position: center center; background-repeat: no-repeat; margin-left: -35px; margin-right: 5px; font-size: 1.1em;"><i
                        class="fa fa-minus c3"></i></span><i class="material-icons tiny green-text">forward</i> On Scene
                    <c class="object">Scene1</c> start
                </div>
                <ul class="" style="display: block;">
                    <li id="item_a" data-module="a" class=""
                        style="width: auto; position: relative; top: 0px; left: 0px; visibility: visible;">
                        <div>Set <c class="object">GameStarted</c> to <c class="variable">True</c></div>
                    </li>
                    <li id="item_b1" data-module="b">
                        <div>Do some other actions</div>
                    </li>
                    <li id="item_b5" data-module="b" class="sortableListsOpen">
                        <div><i class="material-icons tiny green-text">help</i> If (<c class="object">Player</c>.<c class="function">isAlive</c>)
                            <span class="sortableListsOpener"
                                   style="float: left; display: inline-block; background-position: center center; background-repeat: no-repeat; margin-left: -35px; margin-right: 5px; font-size: 1.1em;"><i
                                    class="fa fa-minus c3"></i></span></div>
                        <ul style="display: block;">
                            <li class="sortableListsOpen" id="item_c" data-module="c"
                                style="width: auto; position: relative; top: 0px; left: 0px; visibility: visible;">
                                <div><span class="sortableListsOpener"
                                           style="float: left; display: inline-block; background-position: center center; background-repeat: no-repeat; margin-left: -35px; margin-right: 5px; font-size: 1.1em;"><i
                                        class="fa fa-minus c3"></i></span><i
                                        class="material-icons tiny green-text">help</i> If (<c class="object">Player</c>.<c class="function">haveWeapon</c> == <c class="variable">False</c>)
                                </div>
                                <ul class="" style="display: block;">
                                    <li id="item_c1" data-module="c">
                                        <div>Assign <c class="object">Gun</c> to <c class="object">Player</c></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>