<link rel="stylesheet" href="style/Layout.css">

<div id="layout">
    <div id="scene">
        <canvas id="currentLayout"></canvas>
    </div>
</div>

<script>
	//TODO animated sprite https://jsfiddle.net/ryanoc/4F6sT/
    //TODO https://github.com/pixolith/fabricjs-customise-controls-extension

	const f      = require("fabric");
	const fabric = f.fabric;

	// create a wrapper around native canvas element (with id="c")
	let canvas      = new fabric.Canvas('currentLayout');

	/**
	 * Set canvas selection
	 */
	canvas.selectionBorderColor = 'rgba(255, 0, 0, 0.3)';

	resizeCanvas();

	fabric.Object.prototype.set({
		transparentCorners: false,
		cornerColor: '#0000ff',
		borderColor: '#ff0000',
		cornerSize: 12,
		padding: 5
	});
	/** **/

	window.addEventListener('resize', resizeCanvas, false);

	function resizeCanvas() {

		let layout = $("#layout");

		canvas.setHeight(layout.parent().height() * 0.8);
		canvas.setWidth(layout.parent().width() * 0.8);
		canvas.renderAll();
	}

	// resize on init
	resizeCanvas();

	/**
	 * Animated sprite
	 */
    /*
     let animated = new fabric.Image.fromURL('assets/animation.png', function (img) {
     img.scale(0.5).set({left: 400, top: 100});
     canvas.add(img);
     });
     */
	/** **/

	let pad1 = new fabric.Image.fromURL('Exampleproject/paddle.png', function (img) {
		img.set({left: 16, top: (canvas.height / 2) - (img.height / 2)});
		canvas.add(img);
	});

	let pad2 = new fabric.Image.fromURL('Exampleproject/paddle.png', function (img) {
		img.set({left: canvas.width - 64, top: (canvas.height / 2) - (img.height / 2)});
		canvas.add(img);
	});

	let ball = new fabric.Image.fromURL('Exampleproject/ball.png', function (img) {
		img.set({left: canvas.width / 2, top: (canvas.height / 2) - (img.height / 2)});
		canvas.add(img);
	});

    /*
     // create a rectangle object
     let rect     = new fabric.Rect({
     left  : 100,
     top   : 100,
     fill  : 'red',
     width : 50,
     height: 50
     });

     canvas.add(rect);
     */

	canvas.renderAll();
</script>
