<table class="bordered highlight centered responsive-table">
    <thead>
    <tr>
        <!--
        <th data-field="id">Property</th>
        <th data-field="name">Value</th>
        -->
    </tr>
    </thead>

    <tbody>
    <!--
    <tr>
        <td>Width</td>
        <td><div class="input-field inline">
            <input id="width" type="email" class="validate">
            <label for="width" data-error="wrong" data-success="right">Width</label>
        </div></td>
    </tr>
    <tr>
        <td>Height</td>
        <td><div class="input-field inline">
            <input id="height" type="email" class="validate">
            <label for="height" data-error="wrong" data-success="right">Height</label>
        </div></td>
    </tr>
    <tr>
        <td>Test</td>
        <td><div class="input-field inline">
            <input id="Test" type="email" class="validate">
            <label for="Test" data-error="wrong" data-success="right">Test</label>
        </div></td>
    </tr>
    -->
    </tbody>
</table>